body{margin:0px;
padding:0px;
font-family: Arial; font-size: 12px;
}

#container{
	/*background-image: url('background.png');*/
	background-repeat: repeat-x;
	width:100%;
	height:100%;
	min-height: 100%;
        position: absolute;
}
#topo{
/*background-image: url('topo.png');
background-repeat: repeat-x;*/
background-color: transparent;
width:1366px;
height:145px;
position: absolute;
text-align: center;
}

#conteudo_topo{
    width: 750px;
    height: 145px;
    position: absolute;
    margin-left: 308px;
    background-color: transparent;
}

#centro{
    width: 750px;
    position: absolute;
    margin-left: 308px;
    margin-top: 145px;
    background:transparent;
}

#conteudo_centro{
    width: 750px;
    height: 308px;
    background:transparent;
    position: absolute;
}

#linha_conteudo{
    width: 750px;
    height: 18px;
    border-style:solid;
    border-width: 1px;
    border-color: black;
    padding: 6px;
    background-color: transparent;
}
#linha_conteudo_nome{
    font:bold 14px Tahoma, Geneva, sans-serif;
    width: 40%;
    height: 5%;
    background-color: transparent;
    position: absolute;
    margin-left: 0px;
}
#linha_conteudo_alterar{
    width: 20%;
    height: 5%;
    background-color: transparent;
    position: absolute;
    margin-left: 43%;
}
#linha_conteudo_apagar{
    width: 20%;
    height: 5%;
    background-color: transparent;
    position: absolute;
    margin-left: 66%;
}

.i2Style_logout{
font:bold 14px Tahoma, Geneva, sans-serif;
font-style:normal;
color:#ffffff;
background:#FF6600;
border:0px solid #ffffff;
text-shadow:0px -1px 1px #222222;
box-shadow:2px 2px 5px #000000;
-moz-box-shadow:2px 2px 5px #000000;
-webkit-box-shadow:2px 2px 5px #000000;
border-radius:2px 2px 2px 2px;
-moz-border-radius:2px 2px 2px 2px;
-webkit-border-radius:2px 2px 2px 2px;
width:124px;
padding:8px 11px;
cursor:pointer;
margin:0 auto;
margin-left: 7%;
}
.i2Style_logout:active{
cursor:pointer;
position:relative;
top:2px;
}

.i2Style_menu{
font:bold 14px Tahoma, Geneva, sans-serif;
font-style:normal;
color:#ffffff;
background:#A0522D;
border:0px solid #ffffff;
text-shadow:0px -1px 1px #222222;
box-shadow:2px 2px 5px #000000;
-moz-box-shadow:2px 2px 5px #000000;
-webkit-box-shadow:2px 2px 5px #000000;
border-radius:2px 2px 2px 2px;
-moz-border-radius:2px 2px 2px 2px;
-webkit-border-radius:2px 2px 2px 2px;
width:124px;
padding:1px 11px;
cursor:pointer;
margin:0 auto;
margin-left: 1%;
}
.i2Style_menu:active{
cursor:pointer;
position:relative;
top:2px;
}

.i2Style{
font:bold 14px Tahoma, Geneva, sans-serif;
font-style:normal;
color:#ffffff;
background:#8B4513;//#CC3300;
border:0px solid #ffffff;
text-shadow:0px -1px 1px #222222;
box-shadow:2px 2px 5px #000000;
-moz-box-shadow:2px 2px 5px #000000;
-webkit-box-shadow:2px 2px 5px #000000;
border-radius:2px 2px 2px 2px;
-moz-border-radius:2px 2px 2px 2px;
-webkit-border-radius:2px 2px 2px 2px;
width:124px;
padding:8px 11px;
cursor:pointer;
margin:0 auto;
margin-left: 56.5%;
}
.i2Style:active{
cursor:pointer;
position:relative;
top:2px;
}
.i2Style_alterar{
font:bold 14px Tahoma, Geneva, sans-serif;
font-style:normal;
color:#ffffff;
background:#CC3300;
border:0px solid #ffffff;
text-shadow:0px -1px 1px #222222;
box-shadow:2px 2px 5px #000000;
-moz-box-shadow:2px 2px 5px #000000;
-webkit-box-shadow:2px 2px 5px #000000;
border-radius:2px 2px 2px 2px;
-moz-border-radius:2px 2px 2px 2px;
-webkit-border-radius:2px 2px 2px 2px;
width:124px;
padding:2px 11px;
cursor:pointer;
margin:0 auto;
margin-left: 25%;
}
.i2Style_alterar:active{
cursor:pointer;
position:relative;
top:2px;
}

.i2Style_apagar{
font:bold 14px Tahoma, Geneva, sans-serif;
font-style:normal;
color:#ffffff;
background: #FF6600;//#CC3300;
border:0px solid #ffffff;
text-shadow:0px -1px 1px #222222;
box-shadow:2px 2px 5px #000000;
-moz-box-shadow:2px 2px 5px #000000;
-webkit-box-shadow:2px 2px 5px #000000;
border-radius:2px 2px 2px 2px;
-moz-border-radius:2px 2px 2px 2px;
-webkit-border-radius:2px 2px 2px 2px;
width:154px;
padding:2px 11px;
cursor:pointer;
margin:0 auto;
margin-left: 15%;
}
.i2Style_apagar:active{
cursor:pointer;
position:relative;
top:2px;
}