body{margin:0px;
padding:0px;
font-family: Arial; font-size: 12px;
}

#container{
	/*background-image: url('background.png');*/
	background-repeat: repeat-x;
	width:100%;
	height:100%;
	min-height: 100%;
}
#topo{
background-image: url('topo.png');
background-repeat: repeat-x;
width:100%;
height:90px;
}

#rodape{
background-image: url('rodape.png');
background-repeat: repeat-x;
width:100%;
height:91px;
}
#menu{
background:transparent;
width:100%;
height:990px;
}

#login{
background-image: url('FormularioArea.png');
background-repeat: no-repeat;
width:594px;
height:990px;
margin:auto;
margin-top:100px;

}

#elementos{
position:absolute;
background: transparent;
width:590px;
height:990px;
margin-left:20;
margin-top:22;
text-align: justify;
}




#menu ul{
list-style-type: none;
}

#menu ul li{
display: inline;
padding:10px;
}

#menu ul li a{
color:#000;
text-decoration: none;
}

#menu ul li a:hover{
text-decoration:underline;
}